# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# SublimeText project files
*.sublime-workspace